body{
    background: rgb(162,58,180);
background: linear-gradient(90deg, rgba(162,58,180,1) 0%, rgba(252,253,29,1) 50%, rgba(69,190,252,1) 100%);
font-size: 1.2rem;
font-weight: 900;
color:rgb(255, 255, 255);
text-shadow: 1px 1px 2px black;
}

img{
    height:50px;
    width:50px;
}

 th, td {
    border: 2px solid black;
  }

button{background-color: transparent;
}  

